.animate-item {
    animation-name: itemAnimation;
    animation-duration: 0.5s;
    /* Add other animation properties here */
  }
  
  @keyframes itemAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  

  /*  */