.loginBg {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/public/formbg.jpg');
  background-position: center;
  background-repeat: no-repeat;
}


